.footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 40px;
    padding: 0 8px;

    background-color: #373737;
    color: #ffd;
}

.footer .copyright {
    margin-left: auto;
}